@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body {
    overflow: auto;
    /* line-height: inherit; */
    /* overflow-x: hidden; */
}

/* added aditionally  */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.253);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* till here  */

.bside a:hover {
    transform: scale(1.05);
}

.skillcard div div {
    background-color: #14131adf;
}
.skillcard div div:hover {
    transform: scale(1.05);
}

.window {
    /* background-color: #b6c8a9; */
    background-color: rgb(152 177 134);
}

.aside {
/* background-color: rgb(152 177 134); */
background-color:#b6c8a9 ;
display: none;
z-index: 30;
}

#intro {
    background-image: url('img/shutterstock_396213982_9e88ef51ab.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.cc {
    min-height: 100vh;
}

.skillcard {
background-color:#b6c8a9 ;

}


@media only screen and (min-width:1024px) {
    #aside {
        display: flex !important;
        max-width: 10rem;
    }

    .main {
        padding-left: 10rem;
    }

    #menu {
        visibility: hidden;
    }

    #intro {
        background-position-x: center;
    }
}